<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright (c) 2017 - present, Xuan Wang
  ~  All rights reserved.
  ~
  ~  This source code is licensed under the BSD-style license found in the
  ~  LICENSE file in the root directory of this source tree.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.cs.cs185.xuanwangreminder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/reminders_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReminderListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReminderDetailActivity"
            android:label="@string/title_reminder_detail"
            android:parentActivityName=".ReminderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ucsb.cs.cs185.xuanwangreminder.ReminderListActivity" />
        </activity>
    </application>

</manifest>