<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Switch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>013F9E0F1E4EE56F00C6ABDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013F9E281E4EE57000C6ABDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013F9E331E4EE57000C6ABDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
