<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TapMeFast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>013A90571E4BC7DF00378638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013A90701E4BC7DF00378638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>013A907B1E4BC7DF00378638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
