<?xml version="1.0" encoding="utf-8"?><!--
  ~  Copyright (c) 2017 - present, Xuan Wang
  ~  All rights reserved.
  ~
  ~  This source code is licensed under the BSD-style license found in the
  ~  LICENSE file in the root directory of this source tree.
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsb.xuanwang.dailydevelopertips">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreenActivity"></activity>
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"></activity>
    </application>

</manifest>